:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header h1 {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8em;
}

.App-main {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: 600px 1fr;
  gap: 20px;
}

.controls {
  border-right: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 8px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 0.8em;
}

@media (max-width: 1300px) {
  .App-main {
    grid-template-columns: 1fr;
  }
  .controls {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .App-header, .App-footer {
    background-color: #f0f0f0;
    color: #282c34;
  }
  .controls {
    border-color: #ddd;
    background-color: #f0f0f0;
  }
}